.Wizard .Actions {
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
}

.Wizard .Actions button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: var(--button-padding);
  margin: var(--button-margin);
  width: var(--button-width);
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

.Wizard .Actions button:hover {
  background-color: var(--button-background-color-selected);
}
